<% provide(:title, 'Userregister Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
	   	 		 
</script>
<%end%>
<%= render "shared/menu" %>
<div style="margin-left: 20px;">

<table id=userregister_list></table>
<div id=userregister_pager ></div>
</div>

<%= raw(userregister_jqgrid) %>

<br />

