<% provide(:title, 'Warehouse Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
	   	 		 
</script>
<%end%>
<%= render "shared/menu" %>
<div style="margin-left: 20px;">

<table id=warehouse_list></table>
<div id=warehouse_pager ></div>
</div>

<%= raw(warehouse_jqgrid) %>

<br />

