<% provide(:title, 'Warehouse Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;	   	 		 
</script>

<%end%>
<%= render "shared/menu" %>
<h3><div class="label label-primary"> List of Warehouse</div></h3>
<div>
	<table id=warehouse_list></table>
	<div id=warehouse_pager ></div>
	<%= raw(warehouse_jqgrid) %>
</div>