<% provide(:title, 'Position Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>
<%= render "shared/menu" %>
<div style="margin-left: 20px;">
<%= render"shared/header" %>
Listing Position - <%= render_breadcrumbs %>
<table id=pos_list></table>
<div id=pos_pager></div>
</div>
<%= raw(pos_jqgrid) %>
<br />

