<% provide(:title, 'Location Error Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>
	<%= render "shared/menu" %>
	<h3><div class="label label-primary">Locaiton Error</div></h3><div>
<div>
	<table id=locationerror_list></table>
	<div id=locationerror_pager></div>
	<%= raw(locationerror_jqgrid) %>
</div>