<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>
<%= render "shared/menu" %>
<div style="margin-left: 30px;">
<div align="center" ><a href="/warehousemaintenance" >
	<h1> warehouse: <%= @warehouse %> </h1></a>
</div>
<h2>Listing Zones For: <%= render_breadcrumbs %></a></h2><br>
<table id=zone_list></table>
<div id=zone_pager></div>
</div>
<%= raw(zone_jqgrid) %>
<br />

