<% provide(:title, 'Zone Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>
<%= render "shared/menu" %>
<div>
	<%= render"shared/header" %>
	<p>Listing Zones For: <%= render_breadcrumbs %></p>
	<table id=zone_list></table>
	<div id=zone_pager></div>
	<%= raw(zone_jqgrid) %>
</div>

<br />

