<h2>Listing Zones - Warehouse: <a href="/warehousemaintenance"><%= @warehouse %></a></h2><br>

<table id=zone_list></table>
<div id=zone_pager></div>

<% content_for :head do %>
<%end%>

<%= raw(zone_jqgrid) %>


<br />

