<% provide(:title, 'Zone Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>
<%= render "shared/menu" %>
<div style="margin-left: 30px;">
<%= render"shared/header" %>
Listing Zones For: <%= render_breadcrumbs %>
<table id=zone_list></table>
<div id=zone_pager></div>
</div>
<%= raw(zone_jqgrid) %>
<br />

