<% provide(:title, 'Location Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>
<%= render "shared/menu" %>
<div>
	<%= render"shared/header" %>
	<p>Location Maintenance</p>	
	<table id=loc_list></table>
	<div id=loc_pager></div>
	<%= raw(loc_jqgrid) %>
</div>
