<% provide(:title, 'Location Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>
<%= render "shared/menu" %>
<div>
	<%= render"shared/header" %>
	<p>Location Maintenance</p>	
	<table id=loc_list></table>
	<div id=loc_pager></div>
	<%= raw(loc_jqgrid) %>
</div>


<!-- Modal -->
<div class="modal fade" id="locationview" tabindex="-1" role="dialog" aria-labelledby="locationviewLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Location Data</h4>
      </div>

      <div class="modal-body">
      </div>
      
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>


<script>
      jQuery(document).ready(function() {
	          $('#loc_list').jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });    
	   });
</script>

