<div class="logo" id="l1" >Slotting Management</div>		
	<div class ="wrapper">
		<div class="container" id="main-menu">
			<ul class="menu" rel="sam1">
		       <li><a href="/aboutus.html">Contact Us</a></li>
		       <li><a href="/login?logout=yes">Log out</a></li>
		       <li><a href="#">Welcome <%= @userid%></a></li>
		    </ul>
		</div>
	</div>