<% provide(:title, 'Slottingrule Details Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;	   	 		 
	

	function targetselect_func(thisval){
	                                         var param = "oper=subselect&val="+thisval;
	                                         var targetSelect = jQuery.ajax({
	                                         url: "/slottingrule_detailsmaintenance/?"+param,
	                                         async: false
	                                         }).responseText;
	                                         
	                                         var responseData='';
	                                         var objs = jQuery.parseJSON(targetSelect);
	                                         for(i=0;i<objs.length;i++){
		                                         $.each(objs[i],function(key, val){
		  											responseData +=	  
		  												'<option role="option" value="'+ val + '">' + val + '</option>'
												});
											};	
	                                         return responseData
	                                    }

</script>

<%end%>
<%= render "shared/menu" %>
<h3><div class="label label-primary"> Slottingrule Details</div></h3>
<div>
	<table id=slottingrule_details_list></table>
	<div id=slottingrule_details_pager ></div>
	<%= raw(slottingrule_details_jqgrid) %>
</div>
