<% provide(:title, 'User Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>
<%= render "shared/menu" %>
<div>
<h3><div class="label label-primary"> User Maintenance</div></h3>	
	<table id=user_list></table>
	<div id=user_pager ></div>
	<%= raw(user_jqgrid) %>	
</div>
<br />