<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>
<%= render "shared/menu" %>
<div style="margin-left: 20px;">
<div align="center"><a href="/warehousemaintenance" >
<h1>Warehouse: <%= @warehouse%></h1></a>
</div>
<h2>Listing Levels - <%= render_breadcrumbs %></h2>
<table id=level_list></table>
<div id=level_pager></div>
</div>

<%= raw(level_jqgrid) %>

<br />

