<% provide(:title, 'Level Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>
	<%= render "shared/menu" %>
	<%= render"shared/header" %>
<div>
	<p>Listing Levels for: <%= render_breadcrumbs %> </p>
	<table id=level_list></table>
	<div id=level_pager></div>
	<%= raw(level_jqgrid) %>
</div>

<br />

