<% provide(:title, 'About Us') %>
<% content_for :head do %>
<% end %>
<%= render "shared/menu" %>
<body>
<h2><span class="label label-primary">About Us</span> </h2>
<div style="background-color: LightSkyBlue; width: 500px;padding: 25px">
<p>
We are passionate Industry expert in Warehouse Management system.<br>
Please contact us at<br>
18790 NE 61st Way<br>
Remond 98052, WA<br>
</p>
</div>


</body>