<% provide(:title, 'About Us') %>
<% content_for :head do %>
<% end %>
<%= render "shared/menu" %>
<body>
<h2><span class="label label-primary">About Us</span> </h2>
<div style="background-color: LightSkyBlue; width: 1050px;padding: 25px">
<p>

<div style="width:1000px; ">
<p>
We asked ourselves a simple question – “How can we improve supply chain efficiencies with one single click”
Answer to this question became the foundation for SlotFire™.
</p>

<p>
With more than 50 years of experience in supply chain, warehouse management, and retail distribution we understand the importance of product placement .. in the right quantity, in the right place, and at the right time within the warehouse space. Slotting in invariably one of the key strategies to achieve picking and packing efficiency ..  irrespective of whether it is a thousand of SKUs or hundreds of thousands of SKUs a company sells to the customers.
Slotting is primarily executed from excel spreadsheets by most of the Fortune 500 retailers without a holistic approach. SlotFire™ is developed to provide just that – a holistic approach to where the product is placed, in what quantities using indigenously developed complex algorithms on a state-of-the-art technology platform that will provide an intuitive experience to the warehouse personnel.
</p>

<p>
Babu Vasa is the cofounder of SlotFire™. He is an industry veteran with more than 20 years of experience implementing multiple warehouse management installations for major companies such as Williams-Sonoma, Restoration Hardware, Limited Brands etc. He possesses in depth knowledge on all the facets of supply chain ... Product Sourcing, Product Lifecycle Management, Warehouse Management, Transportation, Logistics, Distribution, and Order Lifecycle Management.
</p>
</div>


</body>