<% provide(:title, 'Contact Us') %>
<% content_for :head do %>
<% end %>
<%= render "shared/menu" %>
<body>
<h2><span class="label label-primary">Contact Us</span> </h2>
<div style="background-color: LightSkyBlue; width: 500px;padding: 25px">
<p>
We are the passionate Industry expert in Warehouse Management system.<br>
Please contact us at<br>
Babu Vasa - babuvasa@gmail.com<br>
Farooq Buvvaji - farooqbh@gmail.com<br>
Jagannath Prasad lenka - jagannath.lenka@gmail.com<br>
Mitali Swain - mitali.swain@gmail.com<br>
</p>
</div>


</body>