<% provide(:title, 'Contact Us') %>
<% content_for :head do %>
<% end %>
<%= render "shared/menu" %>
<body>
	<div id="Slottingmgmt" style="float:left; width: 30% ; height: 50%; margin: 10%">
		<button class="btn btn-warning pull-right" type="button" onclick="location.href='/slottingrecomaintenance'" style="height: 150px; width: 70%">Slotting Management</button>		
	</div>

    <div id="Layoutmgmt" style="float:left; width: 30% ; height: 50%; margin: 10%">
		<button class="btn btn-success pull-left" type="button" onclick="location.href='/warehousemaintenance'"  style="height: 150px; width: 70%">Warehouse Layout</button>		
	</div>



</body>