<h3>Listing Aisles - <%= @warehouse%>><a href="/zonemaintenance?id=<%= @warehouse_id %>"> <%= @zone %></a></h3><br>

<table id=aisle_list></table>
<div id=aisle_pager></div>

<% content_for :head do %>
<%end%>

<%= raw(aisle_jqgrid) %>

<br />

