<!--
	**Purpose: Maintain Aisle for a Zone
	**Functionalities:
	               1. Add Ailse
	               2. Edit Aisle Attributes
	               3. Create Bays for Aisle
	               4. Create Levels for Aisle 
	               5. Call method to show layout of aisle
	               6. Call method to copy bay, level, position from one aisle to other	                  
	**Author : Mitali Madhuchhanda Swain
-->

<% provide(:title, 'Aisle Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>

<% if params[:lightweight] != "yes" %>
	<%= render "shared/menu" %>
	<%= render"shared/header" %>
	<p>Listing Aisles For:  <%= render_breadcrumbs %></p>
<%end%>
<div>	
	<table id=aisle_list></table>
	<div id=aisle_pager></div>
	<%= raw(aisle_jqgrid) %>
</div>
<br />
