<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>
<%= render "shared/menu" %>
<div style="margin-left: 30px;">
<div align="center"><a href="/warehousemaintenance" >
	<h1>warehouse: <%= @warehouse%></h1></a>
</div>
<h2>Listing Aisles For:  <%= render_breadcrumbs %></h2><br>
<table id=aisle_list></table>
<div id=aisle_pager></div>
</div>
<%= raw(aisle_jqgrid) %>
<br />

