<% provide(:title, 'Bay Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>

<% if params[:lightweight] != "yes" %>
<%= render "shared/menu" %>
<div style="margin-left: 20px;">
 <%= render"shared/header" %>
Listing bays For:  <%= render_breadcrumbs %><br>
<% end %>

<table id=bays_list></table>
<div id=bays_pager></div>
</div>

<%= raw(bays_jqgrid) %>

<br />


