<% provide(:title, 'Bay Maintenance') %>
<% content_for :head do %>
<script>
	var lastsel;
</script>
<%end%>

<% if params[:lightweight] != "yes" %>
	<%= render "shared/menu" %>
 	<%= render"shared/header" %>
	<p>Listing bays For:  <%= render_breadcrumbs %></p>
<% end %>

<div>
	<table id=bays_list></table>
	<div id=bays_pager></div>
	<%= raw(bays_jqgrid) %>
</div>
<br />


